.user-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}
.userinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.photo-container{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.username-container{
    display: flex;
    width: 125px;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
}
.name{
    font-size: 0.9rem;
    margin-bottom: 3px;
}
.username{
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0;
}
.status{
    font-size: 0.8rem;
    font-weight: 600;
}
.active{
    color: rgb(30, 135, 30);
}
.inactive{
    color: rgb(184, 26, 26);
}