.user-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}
.userinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.photo-container{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.username-container{
    display: flex;
    width: 180px;
    justify-content: center;
    flex-direction: column;
}
.name{
    margin-bottom: 3px;
}
.username{
    margin: 0;
}